.nav li {

    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
}

.nav {
    overflow: hidden;
    background-color: black;

}

.nav li a {
    color: aliceblue;
    padding: 25px;
    display: block;


}

#section-2 {
    overflow: hidden;
}

.book {
    float: left;
    width: 33%;
    padding-right: 0.3333%;

}

.book img {
    width: 100%;
}

.library {
    overflow: hidden;
    background-color: antiquewhite;
}

.library p,
img {
    float: left;
    width: 50%;
}